html, body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Nixie One', sans-serif;
    
}

a {
    color: #FF5733;
    text-decoration: none;
}

p, li {
    font-size: 1.15em;
}

.main-content {
    padding-top: 80px;
}

/* .navigation_list {
    padding: 20px 10px;
    text-align: left;
    font-family: 'Rajdhani', sans-serif;
  }
.navigation_item {
    font-size: 1.3em;
    list-style: none;
    margin: 0 20px;
}
.brand {
    font-size: 1.6em;
    list-style: none;
    margin: 0 20px;
    float: left;
} */

.title-area {
    padding-top: 30px;
    padding-bottom: 10px;
}

.site-title {
    color: #FF5733;
    font-family: 'Rajdhani', sans-serif;
}

.no-pad-bot {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.sm-txt {
  font-size: .8em;
}

.date-under {
    margin-bottom: 0px;
    padding-bottom: 5px;
}

  
  /* header */
  
  .header {
    font-family: 'Rajdhani', sans-serif;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }

  .header li {
    margin-bottom: 0px;
    font-size: 1.25em;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  